@{
    ViewData["Title"] = "Home Page";
}

<h3>Claims:</h3>
<div class="row">
    <ul>
        @foreach (var claim in User.Claims)
        {
            <li>@claim.Type : @claim.Value</li>
        }
    </ul>
</div>

<h3>Values:</h3>
<div class="row">
    <ul>
        @foreach (var value in Model)
        {
            <li>@value</li>
        }
    </ul>
</div>

